<div class= row g-2>
<div class="card">
   <div class="card-body">
        <h2> Cadastro de Voluntario</h2>
         <div class="container mt-4"></div>
        <div class=" cold-md">
        <form class="form-floating">
           <input type="text" name="nomeVoluntario" class="form-control" id="floatingInputGrid"placeholder>
                <label>Nome Completo </label> </input> </form><br>
        <form class="form-floating">
           <input type="text" name="ruaVoluntario" class="form-control" id="floatingInputGrid"placeholder> 
                 <label>Informe sua Rua</label></input></form><br>
        <form class="form-floating">
            <input type="text" name="bairroVoluntario"class="form-control" id="floatingInputGrid"placeholder>
               <label>Digite seu Bairro</label> </input> </form><br>
        <form class="form-floating">
           <input type="text" name="cidadeVoluntario" class="form-control" id="floatingInputGrid"placeholder> 
           <label>Informe Sua Cidade</label></input></form><br>
           <form class="form-floating">
           <input type="text" name="estadoVoluntario"class="form-control" id="floatingInputGrid"placeholder >
                <label>Informe o seu Estado </label> </input> </form><br>
        <form class="form-floating">
           <input type="text" name="telefoneVoluntario"class="form-control" id="floatingInputGrid"placeholder > 
                 <label>Informe seu Celular</label></input></form><br>
        <form class="form-floating">
           <input type="e-mail" name="emailVoluntario" class="form-control" id="floatingInputGrid" placeholder> 
           <label>Seu e-mail</label></input></form><br>
        <form class="form-floating">
            <input type="password"name="senhaVoluntario" class="form-control" id="floatingInputGrid" required placeholder>
               <label>Sua senha </label> </input> </form><br>
       </div>
           </div>
           <div class="d-grid gap-2 col-6 mx-auto">
  <button id=" enviar " class="btn btn-primary" type="button" >Enviar</button>
 
  <button type ="submit" class="btn btn-primary" type="button">Cancelar</button>
</div>
        </form>
</div>
</div>
</div>
</div>