<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <<img src="\img\logo.png" width="70" height="90"class="navbar-brand" alt="Imagem responsiva" href="\admin\index">VolunPet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="\admin\index">Home</a>
        <a class="nav-link" href="\admin\Cadvoluntario">Seja Voluntario</a>
        <a class="nav-link" href="\adimin\ong">ONG PARCEIRA</a>
        <a class="nav-link" href="\adimin\contato">Contato</a>
      </div>
    </div>
  </div>
</nav>